/* [project]/src/styles/components/contactForm.styles.scss.css [client] (css) */
.contact-form-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  background: #3f2a56;
  background: linear-gradient(0deg, #3f2a56 0%, #632b63 100%);
  border-radius: 8px;
  box-shadow: 0 2px 10px #000000fc;
}

.contact-form-container h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #fcfafa;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

input[type="text"], input[type="email"], textarea {
  padding: .8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border .3s;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  border-color: #dfcc4e;
}

.form-button {
  display: flex;
  justify-content: center;
}


/* [project]/src/styles/components/button.styles.scss.css [client] (css) */
.button {
  background-color: #c6953b;
  border-radius: 6px;
  border-width: 0;
  box-shadow: inset 0 0 0 1px #32325d1a, 0 2px 5px #32325d1a, 0 1px 1px #00000012;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  font-weight: 600;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s, box-shadow 80ms ease-in;
  user-select: none;
  width: 30%;
  text-shadow: 2px 2px 2px #0006;
}

.button:disabled {
  cursor: default;
}

.button:hover {
  background-color: #59978a;
}

.button:focus {
  box-shadow: inset 0 0 0 1px #32325d1a, 0 6px 15px #32325d33, 0 2px 2px #0000001a, 0 0 0 4px #3297d34d;
}


/* [project]/src/styles/pages/join.styles.scss.css [client] (css) */
.join_page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .3fr 1.5fr;
  gap: 5%;
}

.join_page .header-container {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

.join_page .header-container .join_image {
  width: 100%;
  height: 100%;
}

.join_page .header-container .join_header {
  position: absolute;
  top: 89%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #c6953b;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(#0000, #00000080);
  padding: 10px 20px;
  border-radius: 10px;
  text-shadow: 2px 2px 5px #000;
}

.join_page .join_page_information_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .3fr;
  gap: 0;
  grid-template-areas: ". .";
}

.join_page .join_page_information_container .join_telegram_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1000px;
  height: 497.85px;
  margin: 0 auto;
  padding: 2rem;
  background: #3f2a56;
  background: linear-gradient(0deg, #3f2a56 0%, #632b63 100%);
  border-radius: 8px;
  box-shadow: 0 2px 10px #000000fc;
}

.join_page .join_page_information_container .join_telegram_container h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #fcfafa;
}

.join_page .join_page_information_container .join_telegram_container h3 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #fcfafa;
  margin-top: 2%;
}

.join_page .join_page_information_container .join_telegram_container .join_link {
  text-align: center;
  margin: 5%;
  color: #fff;
  background-color: #c6953b;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color .3s;
  width: 400px;
}

.join_page .join_page_information_container .join_telegram_container .join_link:hover {
  background-color: #59978a;
}

.join_page .join_page_information_container .join_contact_form {
  width: 80%;
}


/*# sourceMappingURL=src_styles_986f81._.css.map*/
